<?php
/**
 * Layered Navigation Pro
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Nav
 * @version      2.6.1
 * @license:     K8IsFhcwH46IUTTfe1KMCQDRtHjZtZh9uR7A6EdKWo
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
?>
<div id="adj-nav-navigation">
<?php if ($this->canShowBlock()): ?>
    <input type="hidden" id="adjnav-attr-expand" value="<?php echo $this->htmlEscape(Mage::helper('adjnav')->__('Show More Attributes')) ?>"/>
    <input type="hidden" id="adjnav-attr-collapse" value="<?php echo $this->htmlEscape(Mage::helper('adjnav')->__('Show Less Attributes')) ?>"/>
    <input type="hidden" id="adjnav-attr-val-expand" value="<?php echo $this->htmlEscape(Mage::helper('adjnav')->__('Show More')) ?>"/>
    <input type="hidden" id="adjnav-attr-val-collapse" value="<?php echo $this->htmlEscape(Mage::helper('adjnav')->__('Show Less')) ?>"/>

    <?php $state = $this->getStateInfo() ?>
    <?php echo $this->getStateHtml() ?>
    <?php if ($this->canShowOptions()): ?>
        <div class="block block-layered-nav adj-nav">
            <div class="block-title">
                <span><?php echo $this->__('Narrow Results By:')?></span>
            </div>
            <div class="block-content">
                <?php
                    $catalogSearchHelper =  $this->helper('sdm_catalogsearch');
                    $searchParams = $catalogSearchHelper->getParams();
                ?>
                <form id="search_layer_form" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
                    <div class="input-box">
                        <input id="search" type="search" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text required-entry" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" placeholder="<?php echo $this->__('Enter keywords...') ?>" />
                        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button search-button"><span><span><i class="fa fa-search"></i></span></span></button>
                        <?php foreach($searchParams as $key => $value): ?>
                            <?php if ($key !== 'q'): ?>
                                <input type='hidden' name='<?php echo $key ?>' value='<?php echo urlencode($value) ?>' />
                            <?php endif; ?>
                        <?php endforeach; ?>
                        <input type='hidden' name='reload' value='1' />
                    </div>
                </form>
            </div>
            <div class="clear"></div>
            <div class="block-content">
                <div class="narrow-by">
                    <dl id="narrow-by-list" class='filter-list'>
                        <?php $_filters = $this->getFilters() ?>
                        <?php foreach ($_filters as $_filter): ?>
                            <?php // Check sub attribute for parent attributes ?>
                            <?php if($_filter->getCheckSubAttributeFilter()): ?>
                                <?php if (!$_filter->checkSubAttributeFilter()): ?>
                                    <?php continue; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php // Hide cat and event filters on all sites ?>
                            <?php if (in_array($_filter->getVar(), array('cat', 'tag_event'))): ?>
                                <?php continue; ?>
                            <?php endif; ?>
                            <?php // Hide brand filters except on ERUS ?>
                            <?php if (!Mage::helper('sdm_core')->isSite(SDM_Core_Helper_Data::ELLISON_SYSTEM_CODE_RE) && $_filter->getVar() == 'brand'): ?>
                                <?php continue; ?>
                            <?php endif; ?>
                            <?php // Hide grade level on SZUK and SZUS and on product page?>
                            <?php if ($_filter->getVar() == 'grade_level' && Mage::helper('sdm_core')->isSite(SDM_Core_Helper_Data::ELLISON_SYSTEM_CODE_US, SDM_Core_Helper_Data::ELLISON_SYSTEM_CODE_UK)): ?>
                                <?php continue; ?>
                            <?php endif; ?>
                            <?php // Hide price filters except on idea tab ?>
                            <?php if ($_filter->getVar() === 'price' && Mage::helper('sdm_catalog')->getCatalogType() == SDM_Catalog_Helper_Data::IDEA_CODE): ?>
                                <?php continue; ?>
                            <?php endif; ?>
                            <?php $clearUrl = $_filter->getClearUrl() ?>
                            <?php $_hide = $_filter->getVar() !== 'tag_category' && !$clearUrl; ?>
                            <?php if ($_filter->getItemsCount()): ?>
                                <dt class="adj-nav-dt<?php if ($_filter->getIsOther()) : ?> adjnav-attr-other<?php endif ?><?php if ($_hide): ?> adj-nav-dt-selected<?php endif; ?>">
                                    <?php if ($clearUrl): ?>
                                        <a onclick="return false;" id="<?php echo $_filter->getVar() ?>-clear"
                                           <?php if (!$this->getIsRemoveLinks()): ?>href="<?php echo $this->htmlEscape($clearUrl) ?>" <?php endif; ?>
                                           class="btn-remove adj-nav-clear <?php if (Mage::getStoreConfig('design/adjnav/reload_categories') && 'cat' == $_filter->getVar()) {
                                                   echo ' adj-nav-cat-reload ';
                                               } ?>"
                                               title="<?php echo $this->__('Remove This Item') ?>"><?php echo $this->__('Remove This Item')?>
                                        </a>
                                    <?php endif ?>
                                    <?php if ($_filter->getVar() === 'price'): ?>
                                        <?php
                                            // We have many different labels for price.
                                            // Standardize on the filters just be "Price"
                                            echo $this->__('Price');
                                        ?>
                                    <?php else: ?>
                                        <?php echo $this->__($_filter->getName()) ?>
                                    <?php endif; ?>
                                </dt>
                                <dd <?php echo $this->getHeightStyle()?>
                                    id="adj-nav-filter-<?php echo $_filter->getVar() ?>"
                                    <?php if ($_hide): ?>style="display: none;"<?php endif; ?>
                                    class="<?php if ($_filter->getIsOther()) : ?>adjnav-attr-other<?php endif ?>">
                                    <?php echo $_filter->getHtml() ?>
                                </dd>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </dl>
                    <dl>
                        <?php if ($this->isShowMoreAttributesButton()) : ?>
                            <dd class="adj-nav-dt adjnav-attr-more-dd">
                                <a href="javascript:void(0);"
                                   class="adjnav-attr-more"><?php echo $this->__('Show More Attributes') ?></a>
                            </dd>
                        <?php endif ?>
                    </dl>
                    <script type="text/javascript">
                        var nav_sidebar = null;
                        jQuery(document).ready(function(){
                            decorateDataList('narrow-by-list');
                            nav_sidebar = new AdjnavBlock('narrow-by-list');
                            adjnavNavigation.addBlock(nav_sidebar);
                        });
                    </script>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var featured_attributes = null;
            var featured_values = null;
            jQuery(document).ready(function(){
                featured_attributes = new AdjnavAttribute('#narrow-by-list dt.adjnav-attr-other', '#narrow-by-list dd.adjnav-attr-other');
                featured_values = new AdjnavAttributeValues('#narrow-by-list a.attr-val-more');
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
</div>