/**
 * Separation Degrees One
 *
 * Global CSS
 *
 * @category  SDO
 * @package   SDO
 * @author    Separation Degrees One <magento@separationdegrees.com>
 * @copyright Copyright (c) 2015 Separation Degrees One (http://www.separationdegrees.com)
 */

#add_root_category_button {
    display: none;
}
.adminhtml_ax_account_id, .adminhtml_ax_invoice_id {
    width: 90px;
}
