<?php
/**
 * Separation Degrees Media
 *
 * Magento catalog customizations
 *
 * @category  SDM
 * @package   SDM_Catalog
 * @author    Separation Degrees Media <magento@separationdegrees.com>
 * @copyright Copyright (c) 2015 Separation Degrees Media (http://www.separationdegrees.com)
 */

$_helper = $this->helper('catalog/output');
$_processor = Mage::helper('cms')->getBlockTemplateProcessor();
$_saleLabelHelper = $this->helper('sdm_catalog/salelabel');
$_productCollection = $this->getLoadedProductCollection();
$_crumbTrail = $this->getCrumbTrail();
$_lastCrumb = $this->getLastCrumb();
$_lastCrumbType = $this->getLastCrumbType();

?> 

<?php // Breadcrumbs ?>
<?php if (is_array($_crumbTrail) && count($_crumbTrail)): ?>
    <div class="crumb-container">
        <div class="label">
            <?php echo $this->__('Your Selections')?>:<br />
            <?php if ($this->getCrumbFreeUrl() !== false): ?>
                <a href="<?php echo $this->getCrumbFreeUrl() ?>" class='clear-all-filters'>
                    <?php echo $this->__('Clear All Filters') ?>
                </a>
            <?php endif; ?>
        </div>
        <ul class="catalog-crumbs">
            <?php foreach($_crumbTrail as $_crumbData => $_crumbLabel): ?>
                <li>
                    <a href='<?php echo $this->getCrumbUrl($_crumbData) ?>' class='clear-filter-link'>
                        <i class="fa fa-times"></i>
                    </a>
                    <?php echo $_crumbLabel ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="clear"></div>
<?php endif; ?>

<?php // Category image and description, displayed if was last filter selected ?>
<?php if ($_lastCrumbType === 'category'): ?>
    <?php if($_imgUrl = $_lastCrumb->getImageUrl()): ?>
        <p class="category-image">
            <img src="<?php echo $_imgUrl ?>"
                alt="<?php echo $this->escapeHtml($_lastCrumb->getName()) ?>"
                title="<?php echo $this->escapeHtml($_lastCrumb->getName()) ?>"
            />
        </p>
    <?php endif; ?>
    <?php if($_description = $_helper->categoryAttribute($_lastCrumb, $_lastCrumb->getDescription(), 'description')): ?>
        <div class="category-description std">
            <?php echo $_description ?>
        </div>
    <?php endif; ?>
<?php endif; ?>

<?php // Taxonomy image and description, displayed if was last filter selected ?>
<?php if ($_lastCrumbType === 'taxonomy'): ?>
    <?php $_description = $_processor->filter($_lastCrumb->getDescription()) ?>
    <div class="taxonomy_catalog_asset_text<?php echo strlen(trim(strip_tags($_description))) == 0 ? ' full-width' : '' ?>">
        <?php if ($_imgUrl = $_lastCrumb->getImageUrl()): ?>
            <img src='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $_imgUrl; ?>' />
        <?php endif; ?>
        <?php if ($_description): ?>
            <?php echo $_description; ?>
        <?php endif; ?>
        <?php // Special "learn more" link for designer taxonomy ?>
        <?php if($_lastCrumb->getType() === 'designer'): ?>
            <br>
            <a href="/designer/<?php echo $_lastCrumb->getCode() ?>">
                <?php echo $this->__("Learn more about %s &raquo;", $_lastCrumb->getName()); ?>
            </a>
        <?php endif; ?>
    </div>
    <div class="clear"></div>
<?php endif; ?>

<?php // "Products" and "Projects" tab ?>
<div class='main-catalog-tabs'>
    <li class='<?php echo $this->getActiveClass(SDM_Catalog_Helper_Data::PRODUCT_CODE) ?>'>
        <a href='<?php echo $this->getTypeUrl(SDM_Catalog_Helper_Data::PRODUCT_CODE) ?>'>
        <?php echo $this->getCatalogTypeName('Product').'s'; ?>
        (<?php echo $this->getCollectionTypeCount(SDM_Catalog_Helper_Data::PRODUCT_CODE) ?>)</a>
    </li>
    <li class='<?php echo $this->getActiveClass(SDM_Catalog_Helper_Data::IDEA_CODE) ?>'>
        <a href='<?php echo $this->getTypeUrl(SDM_Catalog_Helper_Data::IDEA_CODE) ?>'>
        <?php echo $this->getCatalogTypeName('Project').'s'; ?>
        (<?php echo $this->getCollectionTypeCount(SDM_Catalog_Helper_Data::IDEA_CODE) ?>)</a>
    </li>
</div>

<?php // The product listing ?>
<?php if(!$_productCollection->count()): ?>
    <p class="note-msg no-products"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php elseif ($this->getMode()!='grid'): ?>
    <?php // List mode ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php $_iterator = 0; ?>
        <ol class="products-list" id="products-list">
        <?php foreach ($_productCollection as $_product): ?>
            <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                <?php // Product Image ?>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                    <?php  /*
                        Based on the native RWD styling, product images are displayed at a max of
                        ~400px wide when viewed on a one column page layout with four product
                        columns from a 1280px viewport. For bandwidth reasons, we are going to serve
                        a 300px image, as it will look fine at 400px and most of the times, the image
                        will be displayed at a smaller size (eg, if two column are being used or
                        viewport is smaller than 1280px). This $_imgSize value could even be decreased
                        further, based on the page layout (one column, two column, three column) and
                        number of product columns.
                    */ ?>
                    <?php $_imgSize = 300; ?>
                    <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                         src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                         alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <?php // Product description ?>
                <div class="product-shop">
                    <div class="f-fix">
                        <div class="product-primary">
                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                            <h2 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>">
                                    <?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?>
                                </a>
                            </h2>
                            <div class="sku">
                                <?php echo Mage::helper('sdm_catalog')->getSkuLabel($_product) . $_product->getSku(); ?>
                            </div>
                            <?php if($_product->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product) ?>
                            <?php endif; ?>

                            <?php $_description = trim($_product->getDescription()); ?>
                            <?php if (!empty($_description)): ?>
                                <?php $_remainder = ''; // Necessary for truncate() call only ?>
                                <?php $_description = Mage::helper('core/string')->truncate($_description, 220, '...', $_remainder, false); ?>
                                <p class='description'><?php echo $_description ?></p>
                            <?php endif; ?>

                            <?php
                            // Provides extra blocks on which to hang some features for products in the list
                            // Features providing UI elements targeting this block will display directly below the product name
                            if ($this->getChild('name.after')) {
                                $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                    $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                    $_nameAfterChild->setProduct($_product);
                                    echo $_nameAfterChild->toHtml();
                                }
                            }
                            ?>
                        </div>
                        <div class="product-secondary">
                            <ul class="add-to-links">
                                <!-- PlaceHolder Follow Product -->
                                <li class="follow-small">
                                    <?php echo Mage::helper('followitem')->getProductFollowLinkHtml($_product) ?>
                                </li>
                                <!-- End Follow Product -->
                                <?php if($this->helper('sendfriend')->isEnabled()): ?>
                                    <li class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email') ?></a></li>
                                <?php endif;?>
                                <?php if($_product->getTypeId() == 'simple'): ?>
                                    <li class="view-details"><a title="<?php echo $this->__('Details') ?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('Details') ?></a></li>
                                <?php endif ?>
                                <?php if ($this->helper('wishlist')->isAllow() && $_product->getTypeId() == 'simple'): ?>
                                    <li class="wishlist"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                <?php endif; ?>
                            </ul>
                            <?php if($_product->getTypeId() == 'simple'): ?>
                                <?php echo $this->getPriceHtml($_product, false) ?>
                            <?php endif ?>
                        </div>
                        <?php if ($_product->getButtonVisibleListing()): ?>
                        <div class="product-secondary">
                            <?php if($_product->getButtonType() == 'text'): ?>
                                <p class="availability">
                                    <span><?php echo $_product->getButtonValue() ?></span>
                                </p>
                            <?php elseif($_product->getButtonType() == 'add-to-cart'): ?>
                                <p class="action">
                                    <button type="button" class="button btn-cart ajax-cart" data-ajax-url="<?php echo $this->getAddToCartUrl($_product) ?>">
                                        <span><span><?php echo $_product->getButtonValue() ?></span></span>
                                    </button>
                                </p>
                            <?php else: ?>
                                <p class="action">
                                    <a title="<?php echo $_product->getButtonValue() ?>" class="button" href="<?php echo $_product->getProductUrl() ?>">
                                        <span><span><?php echo $_product->getButtonValue() ?></span></span>
                                    </a>
                                </p>
                            <?php endif; ?>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php // Show sale label ?>
                <?php echo $_saleLabelHelper->getSaleLabelHtml($_product); ?>
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">
            decorateList('products-list', 'none-recursive');
        </script>
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php else: ?>
    <?php // Grid Mode ?>
    <div class="category-products">
        <?php echo $this->getToolbarHtml() ?>
        <?php $_collectionSize = $_productCollection->count() ?>
        <?php $_columnCount = $this->getColumnCount(); ?>
        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
                <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <?php $_imgSize = 210; ?>
                        <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                             src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                             alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    </a>
                    <div class="product-info">
                        <ul class="add-to-links">
                            <!-- PlaceHolder Follow Product -->
                            <li class="follow-small">
                                <?php echo Mage::helper('followitem')->getProductFollowLinkHtml($_product) ?>
                            </li>
                            <!-- End Follow Product -->
                            <?php if($this->helper('sendfriend')->isEnabled()): ?>
                                <li class="email-friend"><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>"><?php echo $this->__('Email') ?></a></li>
                            <?php endif;?>
                            <?php if($_product->getTypeId() == 'simple'): ?>
                                <li class="view-details"><a title="<?php echo $this->__('Details') ?>" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('Details') ?></a></li>
                            <?php endif ?>
                            <?php if ($this->helper('wishlist')->isAllow() && $_product->getTypeId() == 'simple'): ?>
                                <li class="wishlist"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                        <h2 class="product-name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </h2>
                        <div class="sku">
                            <?php echo Mage::helper('sdm_catalog')->getSkuLabel($_product) . $_product->getSku(); ?>
                        </div>
                        <?php
                        // Provides extra blocks on which to hang some features for products in the list
                        // Features providing UI elements targeting this block will display directly below the product name
                        if ($this->getChild('name.after')) {
                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                            foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                $_nameAfterChild->setProduct($_product);
                                echo $_nameAfterChild->toHtml();
                            }
                        }
                        ?>
                        <?php if($_product->getTypeId() == 'simple'): ?>
                            <?php echo $this->getPriceHtml($_product, false) ?>
                        <?php endif ?>
                        <?php if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php if ($_product->getButtonVisibleListing()): ?>
                            <div class="actions">
                                <?php if($_product->getButtonType() == 'text'): ?>
                                    <p class="availability">
                                        <span><?php echo $_product->getButtonValue() ?></span>
                                    </p>
                                <?php elseif($_product->getButtonType() == 'add-to-cart'): ?>
                                    <p class="action">
                                        <button type="button" class="button btn-cart ajax-cart" data-ajax-url="<?php echo $this->getAddToCartUrl($_product) ?>">
                                            <span><span><?php echo $_product->getButtonValue() ?></span></span>
                                        </button>
                                    </p>
                                <?php else: ?>
                                    <p class="action">
                                        <a title="<?php echo $_product->getButtonValue() ?>" class="button" href="<?php echo $_product->getProductUrl() ?>">
                                            <span><span><?php echo $_product->getButtonValue() ?></span></span>
                                        </a>
                                    </p>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                    </div>
                    <?php // Show sale label ?>
                    <?php echo $_saleLabelHelper->getSaleLabelHtml($_product); ?>
                </li>
            <?php endforeach ?>
        </ul>
        <script type="text/javascript">
            decorateGeneric($$('ul.products-grid'), ['odd','even','first','last']);
        </script>
        <div class="toolbar-bottom">
            <?php echo $this->getToolbarHtml() ?>
        </div>
    </div>
<?php endif; ?>
<?php
// Provides a block where additional page components may be attached, primarily good for in-page JavaScript
if ($this->getChild('after')) {
    $_afterChildren = $this->getChild('after')->getSortedChildren();
    foreach ($_afterChildren as $_afterChildName) {
        $_afterChild = $this->getChild('after')->getChild($_afterChildName);
        //set product collection on after blocks
        $_afterChild->setProductCollection($_productCollection);
        echo $_afterChild->toHtml();
    }
}
?>
